@import "tailwindcss";
@theme {
  --color-cine-red: #ff3d68;
  --color-cine-purple: #a044ff;
  --color-cine-dark: #0f0f0f;
  --background-image-cine-gradient: linear-gradient(90deg, #ff3d68 0%, #a044ff 100%);
  --shadow-cine: 0 4px 15px rgba(160, 68, 255, 0.3);
}